<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>StaffMaint</servlet-name>
        <servlet-class>Servlet.StaffMaint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemMaint</servlet-name>
        <servlet-class>Servlet.MemMaint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffList</servlet-name>
        <servlet-class>Servlet.StaffList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdMaint</servlet-name>
        <servlet-class>Servlet.ProdMaint</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdList</servlet-name>
        <servlet-class>Servlet.ProdList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportResult</servlet-name>
        <servlet-class>Servlet.ReportResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartPerMore</servlet-name>
        <servlet-class>Servlet.addToCartPerMore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCartPerOne</servlet-name>
        <servlet-class>Servlet.addToCartPerOne</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartListServlet</servlet-name>
        <servlet-class>Servlet.cartListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productMenuServlet</servlet-name>
        <servlet-class>Servlet.productMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCartListQuantityServlet</servlet-name>
        <servlet-class>Servlet.updateCartListQuantityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProductServlet</servlet-name>
        <servlet-class>Servlet.viewProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffMaint</servlet-name>
        <url-pattern>/StaffMaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemMaint</servlet-name>
        <url-pattern>/MemMaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffList</servlet-name>
        <url-pattern>/StaffList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdMaint</servlet-name>
        <url-pattern>/ProdMaint</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdList</servlet-name>
        <url-pattern>/ProdList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportResult</servlet-name>
        <url-pattern>/ReportResult</url-pattern>
    </servlet-mapping>
    <!--image servlet-->
    <servlet>
        <servlet-name>RetrieveImageServlet</servlet-name>
        <servlet-class>Servlet.RetrieveImageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RetrieveImageServlet</servlet-name>
        <url-pattern>/RetrieveImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartPerMore</servlet-name>
        <url-pattern>/addToCartPerMore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCartPerOne</servlet-name>
        <url-pattern>/addToCartPerOne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartListServlet</servlet-name>
        <url-pattern>/cartListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productMenuServlet</servlet-name>
        <url-pattern>/productMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCartListQuantityServlet</servlet-name>
        <url-pattern>/updateCartListQuantityServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProductServlet</servlet-name>
        <url-pattern>/viewProductServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
